*/bin*/
*/*.map
*/*.properties
*/*.jazzignore
*/src/.generated~/
*/target~/
*/.settings/org.sonar.ide.eclipse.core.prefs
*/_*/
# */launches/
*/launches/*.properties
com.microej.example.foundation.*/com.microej.example.foundation.*
